<header>
    <h2>{{ .Title }}</h2>
    <nav>
        <ul>
            {{ range .Sections }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>
