{{ define "main" }}
<main>
    {{ .Content }}
    <table>
        <tr>
            <th>Data</th>
            <th>Título</th>
        </tr>
        {{ range .RegularPages }}
        <!-- <li><a href="{{ .RelPermalink }}">[{{.Date | time.Format ":date_short"}}] {{ .LinkTitle }}</a></li> -->
        <tr>
            <td>
                {{.Date | time.Format ":date_short"}}
            </td>
            <td>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </td>
        </tr>
        {{ end }}
    </table>
</main>
{{ end }}
