{{ define "main" }}
<main>
    {{ .Content }}
    <ul>
        {{ range .RegularPages }}
        <li><a href="{{ .RelPermalink }}">[{{.Date | time.Format ":date_short"}}] {{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
</main>
{{ end }}
