html {
    font-size: 2rem;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: "EB Garamond", serif;
    background-color: #F5F5DC;
    /* background-color: #c9bb8e; */
    color: #282828;
    max-width: 1400px;
    /* text-align: justify; */
}

h1 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}


blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #858585;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3rem;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}
